@model IEnumerable<QuizApp.Models.QuestionChoice>

@{
    ViewData["Title"] = "Danh sách câu trả lời";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
        <div class="my-2">
            <a asp-area="Admin" asp-controller="Questions" asp-action="Index" asp-route-id="@ViewBag.qId" class="btn btn-primary float-left">Quay lại danh sách câu hỏi</a>
            <a asp-area="Admin" asp-controller="QuestionChoices" asp-action="Create" asp-route-id="@ViewBag.Id" class="btn btn-primary float-right">Tạo câu trả lời</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Trả lời</th>
                        <th>Kết quả</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Trả lời</th>
                        <th>Kết quả</th>
                        <th>#</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Choice</td>
                            @if (item.IsRight)
                            {
                                <td>Đúng</td>
                            }
                            else
                            {
                                <td>Sai</td>
                            }
                            <td>
                                <a asp-area="Admin" asp-controller="QuestionChoices" asp-action="Edit" asp-route-id="@item.ChoiceId" class="btn btn-warning">Chỉnh sửa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>