@model QuizApp.Models.QuestionText
@{
    ViewBag.Title = "Bài thi";
}

<div class="row">
    <div class="col-2">
        <div style="background-color: #f0f5f5; width: 15%; height: 10%; border-radius: 10px;"
             class="mt-5 position-fixed d-flex justify-content-center align-items-center flex-column">
            <div style="font-size: 20px;" class="text-center font-weight-bolder text-primary" id="timerLarge"></div>
            <div style="font-size: 12px;" class="text-center font-weight-bolder text-primary" id="label">Phút : Giây</div>
        </div>
    </div>
    <div class="col-10">
        <div class="container">
            <form asp-area="" asp-controller="Quiz" asp-action="PostQuiz" id="startForm">
                @foreach (var item in (IEnumerable<Question>)ViewBag.Questions)
                {
                    <div class="my-5 card py-3 px-5" style="background-color: #f0f5f5;">
                        <p>@item.QuestionTitle</p>
                        @foreach (var answer in (IEnumerable<QuestionChoice>)ViewBag.QuestionChoices)
                        {
                            if (item.QuizId == answer.QuizId && item.QuestionId == answer.QuestionId)
                            {
                                if (item.IsMultipleChoices == false)
                                {
                                    <div class="form-check">
                                        <input class="form-check-input chb_@item.QuestionId" id="@answer.ChoiceId" name="answerList" type="checkbox" value="@answer.ChoiceId" />
                                        <label for="@answer.ChoiceId">@answer.Choice</label>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" id="@answer.ChoiceId" name="answerList" type="checkbox" value="@answer.ChoiceId" />
                                        <label for="@answer.ChoiceId">@answer.Choice</label>
                                    </div>
                                }
                            }

                        }
                    </div>
                }
                @foreach (var item in (IEnumerable<QuestionText>)ViewBag.QuestionText)
                {
                    <input type="hidden" value="@item.QuestionTextId" name="qtId" />
                    <div class="my-5 card py-3 px-5" style="background-color: #f0f5f5;">
                        <p>Câu tự luận : @item.QuestionTextTitle</p>
                        <textarea style="resize: none;" class="form-control" name="textanswerList" rows="6"></textarea>
                    </div>
                }
                @if (ViewBag.TextCount > 0)
                {
                    <div class="my-5 card py-3 px-5" style="background-color: #f0f5f5;">
                        <p>Dự đoán số người trả lời đúng</p>
                        <input type="number" name="matches" />
                    </div>
                }
                <input type="submit" onclick="return confirm('Bạn có muốn nộp bài ?')" class="btn btn-primary w-100" value="Nộp bài" />
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @foreach (var item in (IEnumerable<Question>)ViewBag.Questions)
    {
        <script>
            $(".chb_@item.QuestionId").change(function () {
                $(".chb_@item.QuestionId").prop('checked', false);
                $(this).prop('checked', true);
            });
        </script>
    }

    <script>
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                    minutes = parseInt(timer / 60, 10)
                    seconds = parseInt(timer % 60, 10);

                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    seconds = seconds < 10 ? "0" + seconds : seconds;

                    display.text(minutes + ":" + seconds);

                    if (--timer < 0) {
                        jQuery(function ($) {
                            $('form#startForm').submit();
                        });
                    }
            }, 1000);
        }

    jQuery(function ($) {
        var int = @ViewBag.Time;
        var Minutes = int * 60,
            display = $('#timerLarge');
        startTimer(Minutes, display);
    });

    jQuery(function ($) {
        var int = @ViewBag.Time;
        var Minutes = int * 60,
            display = $('#timerSmall');
        startTimer(Minutes, display);
    });
    </script>
}


