@{
    ViewBag.Title = "Dashboard";
}
<div class="row">
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Số lượng người tham gia
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.Users người tham gia</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Số lượng bài thi
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.Quizs bài thi</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách dự thi</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="userTests">
                <thead>
                    <tr>
                        <th class="w-50">Tên bài thi</th>
                        <th class="w-25">Người dự thi</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (IEnumerable<UserTests>)ViewBag.UserTests)
                    {
                        <tr>
                            <td>@item.QuizName</td>
                            <td>@item.FullName</td>
                            <td>
                                <a class="btn btn-primary" asp-area="Admin" asp-controller="Home" asp-action="Details" 
                                   asp-route-uid="@item.UserId" asp-route-qid="@item.QuizId" target="_blank">
                                    Xem chi tiết
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#userTests').DataTable();
        });
    </script>
}